.user-profile{
    background-image: url('./texture_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.profile-field
{
    height: 5%;
    width: 40%;
}

button {
	font-family: Gopher, sans-serif;
	margin-top: 1%;
	margin-bottom: 0;
	background-color: #8DCB39;
	width: 42%;
	height: 10%;
	color: white;
    margin-left: 2%;
	font-size: 24px;
	border: none;
	border-radius: 30px;
	cursor: pointer;
  }

.centered-container {
    display: flex;
    flex-direction: column; 
    justify-content: top; 
    align-items: center; 
    height: 88.5vh; 
  }